@using Microsoft.Fast.Components.FluentUI;

<style>
    fluent-card {
        --card-width: 20vw;
        --card-height: 10vw;
        padding: 0;
        background-color: purple;
    }
</style>

<div>
    <FluentSkeleton Shimmer="true" Height="10vw" Width="20vw"
        style="border-radius: 4px; width: 100px; height: 100px; margin: 0%"></FluentSkeleton>
    @* <FluentCard>


    <FluentSkeleton Shape="SkeletonShape.Circle" Shimmer="true"></FluentSkeleton>
    <FluentSkeleton Height="10px" Shimmer="true" style="border-radius: 4px; margin-top: 10px; height: 10px;">
    </FluentSkeleton>
    <FluentSkeleton Height="10px" Shimmer="true" style="border-radius: 4px; margin-top: 10px; height: 10px;">
    </FluentSkeleton>
    <FluentSkeleton Height="10px" Shimmer="true" style="border-radius: 4px; margin-top: 10px; height: 10px;">
    </FluentSkeleton>
    <FluentSkeleton Width="75px" Height="30px" Shimmer="true"
    style="border-radius: 4px; margin-top: 10px; height: 10px;"></FluentSkeleton>
    </FluentCard> *@
</div>